@media only screen and (max-width: 430px) {
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: block;
  }
  .main-widget {
    left: 0;
  }
  .weather {
    padding: 0;
  }
  .container-centered {
    width: 100%;
    left: 0;
  }
  .about-info {
    flex-direction: column;

    &__box {
      flex-direction: column;
    }

    &__avatar {
      margin: 0 auto;
    }

    &__text {
      margin-left: 0;
      width: 100%;
    }
  }
  .about-contact {
    &__box {
      width: 100%;
    }
  }
  .services-inner {
    ul {
      flex-direction: column;
      align-items: center;
    }
  }
  .clients-logo {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    li {
      img {
        margin: 0 auto;
      }
    }
  }

  .swiper {
    margin: 0 auto !important;
  }
  .swiper-slide {
    width: auto !important;

    img {
      width: 400px;
      height: 200px;
    }
  }
  .testimonial-item {
    width: 340px !important;
  }
  .fun-inner {
    ul {
      flex-direction: column;
      gap: 10px;
    }
  }
  .resume-list {
    flex-direction: column;
  }
  .modal-wrapper {
    flex-direction: column;
  }
}
