.resume{
  &-title {
    h1 {
      color: #bcbcbc;
    }
  }
  &-subtitle {
    padding: 2px 4px;
    border-radius: 1px;
    background: rgba(202, 13, 225, 0.75);
    p{
      color: #efeeee;
      font-weight: 400;

    }
  }
}
.education{
  &-inner{
    ul{
      border-left: 1px solid rgba(99, 99, 99, 0.75);
    }
  }
  &-year{
    position: relative;
    background: #6e0279;
    width: max-content;
    padding: 1px 5px;
    border: 1px solid rgba(99, 99, 99, 0.75);
  }
}
.experience{
  &-inner{
    ul{
      border-left: 1px solid rgba(99, 99, 99, 0.75);
    }
  }
  &-year{
    position: relative;
    background: #6e0279;
    width: max-content;
    padding: 1px 5px;
    border: 1px solid rgba(99, 99, 99, 0.75);
  }
}