.resume {
  &-title {
    h1 {
      color: #bcbcbc;
    }
  }
  &-subtitle {
    padding: 2px 4px;
    border-radius: 1px;
    background: rgba(202, 13, 225, 0.75);
    p {
      color: #efeeee;
      font-weight: 400;
    }
  }
}
.education {
  &-inner {
    ul {
      border-left: 1px solid rgba(99, 99, 99, 0.75);
    }
  }
  &-year {
    position: relative;
    background: #6e0279;
    width: max-content;
    padding: 1px 5px;
    border: 1px solid rgba(99, 99, 99, 0.75);
  }
}
.experience {
  &-inner {
    ul {
      border-left: 1px solid rgba(99, 99, 99, 0.75);
    }
  }
  &-year {
    position: relative;
    background: #6e0279;
    width: max-content;
    padding: 1px 5px;
    border: 1px solid rgba(99, 99, 99, 0.75);
  }
}
.frontend {
  &-inner {
    li {
      h3 {
        background: #ca0de1;
        padding: 1px 3px;
        border-radius: 3px;
      }
    }
  }
}
.tools {
  &-inner {
    li {
      h3 {
        background: #ca0de1;
        padding: 1px 3px;
        border-radius: 3px;
      }
    }
  }
}
.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-radius: 15px;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    border-radius: 3px;
    top: 0;
    left: 0;
    opacity: 0;
    color: #000000;
    display: block;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    position: absolute;
    background: #e1bd04;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    width: max-content;
    padding: 0px 5px;
  }

  &:before {
    border-radius: 3px;
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    position: relative;
    background: #000000;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}
